*,::after,::before{
 margin: 0;
 padding: 0;
}
.content{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
    font-family: 'League Spartan', sans-serif;
}
.content header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .ratings-container{
   width:20rem;
   padding:max(1%,2rem);
}
header .content-title{
    font-size: max(1%,4.5rem);
    color: rgb(104, 29, 73);
    margin-left: 1rem;
}
header .content-overview{
    font-size: max(1%,1.2rem);
}
.rating-card{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:1rem;
    background-color: rgba(128, 128, 128, 0.121);
    margin: 1ch;
    width: 100%;
    padding: 1.5ch;
    border-radius: 1.5ch;
    color: rgb(110, 21, 110);
    font-weight: bolder;
    font-size: small;
}
.rating-bar{
    width: 8rem;
}
#rt-card-2{
    margin-left: 2rem;
}
#rt-card-3{
    margin-left: 3rem;
}
.content .reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.content-overview{
    padding: 1.5rem;
}
.review-card{
    box-shadow: 0px 0px 1px 0px black;
   padding: 1rem;
   border-radius: 2ch;
   background-color: rgba(54, 6, 34, 0.99);
   width: 100%;
   padding: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: max(50%,2rem);
   color: white;
}
#rv-card-2{
  margin:2ch 1ch 0 1ch;
}
#rv-card-3{
     margin:3.5ch 1ch 0 1ch;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    gap:1ch;
}
.user img{
    border-radius: 8rem;
    width:3rem;
}
.user-type{
    color: blueviolet;
}
.user-review{
    padding: 1rem;
}
.attribution {
 padding: 1rem;
 font-size: 11px;
 text-align: center;
}
.attribution a {
 color: hsl(228, 45%, 44%);
}
@media (max-width:690px) {
    .reviews,header{
        flex-direction: column;
    }
  .rating-card{
    margin: 1px ;
  }
   #rt-card-2,#rt-card-3{
   margin: 0.3rem auto;
   }
   .content-overview,.content-title{
    text-align: center;
   }
    
}
